<p-table
    #dt
    [value]="members"
    [paginator]="true"
    [rows]="4"
    selectionMode="single" 
    [(selection)]="selectedMember"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '30rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50]"
    [globalFilterFields]="['member.lastName', 'member.firstName', 'member.email', 'member.konamiId']"
>
<ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Manage Products</h5>
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Search..." />
        </span>
    </div>
</ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width:25%">Nom</th>
            <th style="width:25%">Prenom</th>
            <th style="width:25%">Email</th>
            <th style="width:25%">IdKonami</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-member>
        <tr [pSelectableRow]="member">
            <td>{{ member.lastName}}</td>
            <td>{{ member.firstName }}</td>
            <td>{{ member.email }}</td>
            <td>{{ member.konamiId }}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>
</p-table>
<!-- @if(selectedMember){
    <div class="p-grid">
        <div class="p-col-12">
            <div class="card">
                <h1>{{ selectedMember.firstName }} {{ selectedMember.lastName }}</h1>
                <p>{{ selectedMember.email }}</p>
                <p>{{ selectedMember.konamiId }}</p>
            </div>
        </div>
    </div>
} -->
